$hover-color: #00acdc;
$card-border: #f3f3f3;
$active-color: #00acdc;
$button-text-color : #fff;
$nav-text-color : black;
@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin space-around {
  display: flex;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

}
